@charset "UTF-8";





/* header */
header {
	position: fixed;
	width: 100%;
	height: 60px;
	background-color: #666666;

}
header #globalnav{
	max-width: 1280px;
	min-width: 1064px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}

header #globalnav h1{
	display: block;
	position: absolute;
	top: 2px;
	left: 30px;
	font-family: 'Roboto Slab', serif;
	font-size: 36px;
}
header #globalnav h1 a{
	text-decoration: none;
	color: #ffffff;
}


#globalnav ul {
	position: absolute;
	top: 18px;
	right: 30px;
	font-family: 'Roboto', sans-serif;
	
}
#globalnav ul li {
	display: inline;
	text-align: right;
	margin-right: 15px;
}

#globalnav ul li a{
	text-decoration: none;
	color: #bbbbbb;
}
#globalnav ul li a:hover{
	color: #ffffff;
}
#globalnav ul .currentpage a {
	color: #ffffff;
}

h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 40px;
}



/* footer */

footer {
	width: 100%;
	height: 80px;
	background-color: #333;
	color: #ffffff;
	font-family: 'Roboto Slab', serif;
	position: relative;
}

footer a{
	color: #ffffff;
	text-decoration: none;	
}

#info_mail:hover {
	text-decoration: underline;
}
#info_lab {
	display: block;
	float: right;
	position: absolute;
	right: 60px;
	bottom: -4px;
}

#pageinfo #info_copyright {
	margin-right: auto;
	margin-left: auto;
}
#pageinfo {
	padding-top: 18px;
	padding-right: 60px;
	padding-bottom: 16px;
	padding-left: 60px;
	color: #FFF;
	position: relative;
}
#pageinfo a img {
	margin-right: 5px;
}
