@charset "UTF-8";

* { margin: 0; padding: 0; }

#main {
	width: 100%;
	padding-top:1%;
}
#wrapper #main #maincol article h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 40px;
}
#wrapper #main #maincol article h2 {
	font-family: 'Roboto Slab', serif;
	font-size: 36px;
}
#wrapper {
	width: 100%;
}



/* header */
header {
	position: fixed;
	width:100%;
	background-color: rgba(102,102,102,0.9);
	text-align: left;
}
header #globalnav{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	line-height:1.9;
}

header #globalnav h1{
	display: block;
	position: absolute;
	top: 2px;
	left: 30px;
	font-family: 'Roboto Slab', serif;
	font-size: 36px;
}
header #globalnav h1 a{
	text-decoration: none;
	color: #ffffff;
}

#globalnav ul {
	top: 18px;
	right: 30px;
	font-family: 'Roboto', sans-serif;
	padding-top:20px;
	padding-bottom:20px;
}
#globalnav ul li {
	text-align: right;
	margin-right: 15px;
	margin-left:15px;
}

#globalnav ul li a{
	text-decoration: none;
	color: #bbbbbb;
}
#globalnav ul li a:hover{
	color: #ffffff;
}
#globalnav ul .currentpage a {
	color: #ffffff;
}

body {
	margin: 0;
	padding: 0;
	line-height: 1.4;
	font-family: 'Roboto', sans-serif;
	color: #333;
	text-align: justify;
	background-color: #dddddd;
/*	background-image: url(../images/dot_10x2-01.png); */

	width: 100%;
}
#wrapper #main #contentsnav ul li a{
	text-decoration: none;
	color: #a6a6a6;
	transition: color 0.2s;
}
#wrapper #main #contentsnav ul li a.current{
	color: #000000;
	
}
#wrapper #main #contentsnav ul li a:hover{
	color: #0d98f4;

}
#wrapper #main #contentsnav ul li a:active{
	color: #000000;
	transition: color 0;
}
#wrapper #main #contentsnav ul li{
	font-size: 18px;
	margin-right: 20px;
	margin-bottom: 16px;
	list-style-type: none;
	color: #999;
	display: block;
	margin-left: auto;
	margin-top: 16px;
}

#main #contentsnav {
	width:22%;
	position: fixed;
	left: 0px;
	top: 100px;
	/*	background-color: #f0f0f0; */
	background-color: #ffffff;
	margin-left: 0px;
	border: thin solid #CCC;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-top-right-radius: 6px;
	-moz-border-bottom-right-radius: 6px;
	text-align: right;
	/* box-shadow */
/*    box-shadow:rgba(0, 0, 0, 0.85098) 0px 0px 4px 0px;
    -webkit-box-shadow:rgba(0, 0, 0, 0.85098) 0px 0px 4px 0px;
    -moz-box-shadow:rgba(0, 0, 0, 0.85098) 0px 0px 4px 0px;   */

}

.aligncenter{
	margin-left:25%;
}

.step{
	padding-left:3.2em;
	text-indent:-3.2em;
}

.num{
	padding-left:1.2em;
	text-indent:-1.2em;
}

.num2{
	padding-left:1.4em;
	text-indent:-1.4em;
}

/* footer */

footer {
	width: 100%;
	height: 80px;
	background-color: #333;
	color: #ffffff;
	font-family: 'Roboto Slab', serif;
	position: relative;
}

footer a{
	color: #ffffff;
	text-decoration: none;	
}

#info_mail:hover {
	text-decoration: underline;
}
#info_lab {
	display: block;
	float: right;
	position: absolute;
	right: 60px;
	bottom: 2px;
}

#pageinfo #info_copyright {
	margin-right: auto;
	margin-left: auto;
}
#pageinfo {
	padding-top: 18px;
	padding-right: 60px;
	padding-bottom: 16px;
	padding-left: 60px;
	color: #FFF;
	position: relative;
}
#pageinfo a img {
	margin-right: 5px;
}

#main #maincol {
	width: 72%;
	border: thin solid #CCC;
	background-color: #ffffff;
	z-index: 1;
	margin-top: 90px;
	margin-bottom: 10px;
	padding-bottom: 30px;
	margin-left:25%;
}

#main #maincol_index {
	width:100%;
	border: thin solid #CCC;
	background-color: #ffffff;
	z-index: 1;
	margin-top: 15px;
	margin-bottom: 10px;
	padding: 15px;
}

#globalnav ul li {
	list-style-type: none;
	display: inline;
}

}
#globalnav ul li .currentpage a {
	color: #999999;
}

#globalnav h2 {
	float: left;
	position: absolute;
}
#wrapper #main #maincol article #index {
	border: medium solid #0CF;
	padding-right: 30px;
	padding-left: 30px;
}
#wrapper #main #maincol article {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}


#wrapper #globalheader #globalnav a #projectlogo {
	padding-top: 4px;
}
#wrapper #main #maincol article section span h2 {
	display: inline;
}
#wrapper #main #maincol article section span img {
	margin-right: 10px;
}


#wrapper #main #maincol article section p img {
	margin-right: auto;
	margin-left: auto;
	display: block;
	margin-top: 15px;
	margin-bottom: 15px;
}
#wrapper #main #maincol article section p {
	line-height: 24px;
	margin-top: 10px;

}
#wrapper #main #maincol article section {
	padding: 20px;
}

p{
	text-indent:0.8em;
}


@media print{
#main {
	width: 1000px;
	margin: auto;
	padding: 10px;
}


header {
	position: fixed;
	width: 1200px;
}