@charset "UTF-8";
body {
	background-color: #5B2C00;
}
#globalnav {
	background-image: url(../images/navbg-01.png);
	height: 96px;
	width: 846px;
	margin-right: auto;
	margin-left: auto;
}
header {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	background-color: #E4C664;
}
#main {
	max-width: 980px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	background-color: #F5E4B2;	
}
footer {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	color: #FFF;
}
.footer a {
	color: #FFF;
	text-decoration: none;
}


@media only screen and (-webkit-min-device-pixel-ratio: 1.5), 
only screen and (min-device-pixel-ratio: 1.5) {
　.bgImage {
    　background-image: url(bg_image@2x.png);
    　background-size: 100px 100px;
　}
}