@charset "UTF-8";
body {
	background-color: #5B2C00;
}
#globalnav {
	height: 96px;
	width: 846px;
	margin-right: auto;
	margin-left: auto;
}



#globalnav li{
	display: inline;
}


#globalnav li a{
	float: left;
	height: 0pt;
	padding-top: 96px;
	overflow-x: hidden;
	overflow-y: hidden;
	background-image: url(../images/navbg-01.png);
	background-repeat: no-repeat;
}


#globalnav #gn-home  a{ width: 55px; }
#globalnav #gn-intro  a{ width: 122px; }
#globalnav #gn-design  a{ width: 84px; }
#globalnav #gn-simu  a{ width: 118px; }
#globalnav #gn-xp  a{ width: 114px; }
#globalnav #gn-protocol  a{ width: 92px; }
#globalnav #gn-dis  a{ width: 112px; }
#globalnav #gn-team  a{ width: 78px; }




#globalnav #gn-home a { background-position: 0 0; }
#globalnav #gn-intro a { background-position: -55px 0; }
#globalnav #gn-design a { background-position: -177px 0; }
#globalnav #gn-simu a { background-position: -261px 0; }
#globalnav #gn-xp a { background-position: -379px 0; }
#globalnav #gn-protocol a { background-position: -493px 0; }
#globalnav #gn-dis a { background-position: -585px 0; }
#globalnav #gn-team a { background-position: -697px 0; }


#globalnav #gn-home a:hover { background-position: 0 -96px; }
#globalnav #gn-intro a:hover { background-position: -55px -96px; }
#globalnav #gn-design a:hover { background-position: -177px -96px; }
#globalnav #gn-simu a:hover { background-position: -261px -96px; }
#globalnav #gn-xp a:hover { background-position: -379px -96px; }
#globalnav #gn-protocol a:hover { background-position: -493px -96px; }
#globalnav #gn-dis a:hover { background-position: -585px -96px; }
#globalnav #gn-team a:hover { background-position: -697px -96px; }


#globalnav #gn-home a:active { background-position: 0 -192px; }
#globalnav #gn-intro a:active { background-position: -55px -192px; }
#globalnav #gn-design a:active { background-position: -177px -192px; }
#globalnav #gn-simu a:active { background-position: -261px -192px; }
#globalnav #gn-xp a:active { background-position: -379px -192px; }
#globalnav #gn-protocol a:active { background-position: -493px -192px; }
#globalnav #gn-dis a:active { background-position: -585px -192px; }
#globalnav #gn-team a:active { background-position: -697px -192px; }


#globalnav.home #gn-home a { background-position: 0 -288px; }
#globalnav.intro #gn-intro a { background-position: -55px -288px; }
#globalnav.design #gn-design a { background-position: -177px -288px; }
#globalnav.simu #gn-simu a { background-position: -261px -288px; }
#globalnav.xp #gn-xp a { background-position: -379px -288px; }
#globalnav.protocol #gn-protocol a { background-position: -493px -288px; }
#globalnav.dis #gn-dis a { background-position: -585px -288px; }
#globalnav.team #gn-team a { background-position: -697px -288px; }





header {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	background-color: #E4C664;
}
#main {
	max-width: 980px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	background-color: #F5E4B2;	
}
footer {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	color: #FFF;
}
.footer a {
	color: #FFF;
	text-decoration: none;
}


@media only screen and (-webkit-min-device-pixel-ratio: 1.5), 
only screen and (min-device-pixel-ratio: 1.5) {
　.bgImage {
    　background-image: url(bg_image@2x.png);
    　background-size: 100px 100px;
　}
}
