@charset "UTF-8";

* { margin: 0; padding: 0; }



#main article {
	
}



/* article */

#main article section {
	padding-top: 30px;
	padding-bottom: 30px;
}

#main article #section-hero {
	background-color: #EEEEEE;
}


#main article .wrapper {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 2.0;
	font-family: 'Roboto', sans-serif;
	color: #333;
}



#main article .wrapper h2 {
	font-family: 'Roboto Slab', serif;
	font-size: 36px;
}



#main article .wrapper p {
}


#main{
	padding-top: 60px;
}#wrapper #main article #section-hero .wrapper section p img {
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	height: 170px;
	width: 170px;
}
